# fly.toml app configuration file generated for flyweight-frontend on 2024-09-13T18:19:47-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'flyweight-frontend'
primary_region = 'sjc'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[metrics]
  port = 9113
  path = '/metrics'

[[vm]]
  size = 'shared-cpu-1x'
