@use 'vars';

@mixin field {
  @include vars.border-gradient(3px);

  display: block;
  padding: 5px 10px;
  appearance: none;
  border-image-source: vars.$gradient-1;
  outline: none;
  transform: skewX(-10deg); // TODO unskew text
}
