@for $weight from 1 through 9 {
  @font-face {
    font-family: Archivo;
    font-variation-settings: 'wght' $weight * 100;
    font-style: normal;
    font-weight: $weight * 100;
    src: url('../fonts/archivo.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: Archivo;
    font-variation-settings: 'wght' $weight * 100;
    font-style: italic;
    font-weight: $weight * 100;
    src: url('../fonts/archivo-italic.ttf');
    font-display: swap;
  }
}
