@use 'vars';
@use 'colors';

html,
body {
  height: 100vh;
  background-color: vars.$background-color;
}

#app {
  display: grid;
  grid-template:
    'header header header' vars.$header-height
    '. main .' 1fr
    'footer footer footer' vars.$footer-height /
    auto minmax(320px, 640px) auto;

  > nav {
    grid-area: header;
    padding: vars.$body-padding;
  }

  > main {
    grid-area: main;
    padding: vars.$body-padding;
  }

  > footer {
    grid-area: footer;
    align-items: center;
    text-align: center;
    background-color: colors.$middle-blue;

    p {
      padding: 0;
      margin: 0;
      line-height: vars.$footer-height;
      color: white;
    }

    a {
      font-weight: bold;
      color: white;
      border: 0;
    }
  }
}
