@use 'vars';
@use 'colors';

.tabs {
  > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid colors.$resolution-blue;

    > li {
      padding: 0 10px 5px;
      font-weight: 500;
      color: colors.$resolution-blue;
      cursor: pointer;

      &.active {
        border-bottom: 5px solid colors.$resolution-blue;
      }

      a {
        border-bottom: none;
      }
    }
  }
}
